<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="wfastcgi.py" verb="*" modules="FastCgiModule" scriptProcessor="python|C:\Python39\python.exe|C:\home\site\wwwroot\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Python" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="wfastcgi.py" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="C:\home\site\wwwroot" />
    </appSettings>
</configuration>
