<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Python FastCGI ハンドラーの追加 -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Import FastCGI" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="wfastcgi.py" />
        </rule>
      </rules>
    </rewrite>
    <fastCgi>
      <application fullPath="D:\home\python364x86\python.exe" arguments="D:\home\site\wwwroot\wfastcgi.py">
        <environmentVariables>
          <!-- WSGIハンドラーの指定 -->
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <!-- PYTHONPATHの設定 -->
          <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
